
.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.image{
  border-radius:50%;
  border-color:black;  
  border-width:5px;
  margin:auto;
  display: block;
    width: 50%;
    height: auto;

}

.left{
  align-items: flex-start;
}

.right{
  align-items: flex-end;
}
.aka1{
        align-items: flex-start;
        justify-content: flex-start;       
        display: flex;
        flex: 1 1 0;
        border: 2px solid #4e4e4e;                
}

 p{
   align-items: flex-start;
        justify-content: flex-start;       
        
        flex: 1 1 auto;
        padding: 10px;
        font-size: 1.5em;
	      text-align:center;
        border: 2px solid #4e4e4e;
    }

.aka2{
        align-items: flex-start;
        justify-content: flex-start;       
        flex-direction:column;
        list-style-type: none;
        display: flex;
        flex: 1 1 0;
        border: 2px solid #4e4e4e;       
        margin:auto;
}
ul {
  align-items: flex-start;
        justify-content: flex-start;       
        
        list-style-type: none;
        display: flex;
        align-items:flex-end;
        flex: 1 1 auto;
        border: 2px solid #4e4e4e;
    }
li {
  align-items: flex-start;
        justify-content: flex-start;       
        
        flex: 0 1 auto;
        padding: 10px;
        margin: 10px;
        font-size: 3em;
	      text-align:center;
        border: 2px solid #4e4e4e;
    }

li:nth-child(2){
  margin:auto;
}

li:nth-child(1){
  margin-right:auto;
}

.ok{
  align-items: flex-start;
        justify-content: flex-start;       
        
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        border: 2px solid #4e4e4e;
}
@media screen and (max-width : 769px){
  li{
    flex-direction :column;
  }
  div{
    flex-direction :column;
  }
  ul{
    flex-direction :column;
  }
  ul{
    flex-direction :column;
  }
  body {font-size:1rem;} 
}
[class*="col-"] {
    width: 100%;
}